@charset "UTF-8";
@font-face{
	font-family: "fzLantingHei";
	src: url(../font/FZLTHJW.TTF) format('truetype');
	font-weight: 300
}
html, body{
	margin: 0;
	padding: 0;
	border: 0;
	min-height: 100%;
}
body, button{
	font-family: 'fzLantingHei','STHeiti','Microsoft Yahei', sans-serif;
}
html{
	font-size: 100px;
}
body{
	line-height: 1.5;
	font-size: 16px;
	background: #fff;
	padding: 0;
	position: relative;
	color: #333;
	word-wrap: break-word;
	font-size-adjust: none;
	-webkit-text-size-adjust: none;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	margin: 0;
	padding: 0
}

p img{
	float: left;
	padding: 0;
}

img{
	border: 0;
	max-width: 100%;
}

table{
	width: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

p{
	font-size: 1em;
	line-height: 1.6;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
.clearfix:after { content: "\200B"; display: block; height: 0; clear: both; }
@media screen and (min-width: 768px) and (max-width: 1000px){
	html{
		font-size: 120px;
	}
}
@media screen and (min-width: 1001px) and (max-width: 1200px){
	html{
		font-size: 140px;
	}
}
@media screen and (min-width: 1201px){
	html{
		font-size: 160px;
	}
}
/* 通用 */
hr{
	display: none;
}
section { 
	padding: 0 0 25px 0;
	border-bottom: 1px solid #e1e1e1
}
section:last-child{
	border-bottom: none;
}
.article.part  .block.mod:last-child{
	margin-bottom: 0;
}
.center{
	text-align: center;
}

.vam{
	vertical-align: middle;
}

.px9{
	font-size: 9px;
}

.px10{
	font-size: 10px;
}

.px12{
	font-size: 12px;
}

.px13{
	font-size: 13px;
}

.px14{
	font-size: 14px;
}

.px15{
	font-size: 15px;
}

.px16{
	font-size: 16px;
}

.px22{
	font-size: 22px;
}

.fltl{
	float: left;
}

.fltr{
	float: right;
}

.clearfix:after{
	content: "\200B";
	display: block;
	height: 0;
	clear: both;
}

.block{
	display: block;
}
/* 通栏按钮 */
.cross-column-button{
	display: block;
	color: #999;
	text-decoration: none;
	background: #f2f2f2;
	line-height: 3;
	text-align: center;
	font-size: 12px;
}

.cross-column-button:active{
	background: #ebebeb;
}
.flex{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.flex-item{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	width: 1px;
	display: block;
}
.separator{
	display: none;
	height: 1px;
	line-height: 1px;
	margin: 2em auto;
}
@media (-webkit-min-device-pixel-ratio: 2){
	.separator{
		border-bottom: none;
		background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%);
		background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%);
		background-size: 100% 1px;
		background-repeat: no-repeat;
		background-position: bottom;
	}
}
@media (-webkit-max-device-pixel-ratio: 1.99){
	.separator{
		border-bottom: 1px solid #e1e1e1;
	}
}

.separator3{
	display: none;
	height: 1px;
	line-height: 1px;
	margin: 20px auto;
}
@media (-webkit-min-device-pixel-ratio: 2){
	.separator3{
	border-bottom: none;
	background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
		background-position: bottom;
	}
}
@media (-webkit-max-device-pixel-ratio: 1.99){
	.separator3{
		border-bottom: 1px solid #e1e1e1;
	}
}

.separator2{
	display: none;
	height: 1px;
	line-height: 1px;
	margin: 2em 16px;
}
@media (-webkit-min-device-pixel-ratio: 2){
	.separator2{
	border-bottom: none;
	background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
		background-position: bottom;
	}
}
@media (-webkit-max-device-pixel-ratio: 1.99){
	.separator2{
		border-bottom: 1px solid #e1e1e1;
	}
}

.separator4{
	display: none;
	height: 1px;
	margin: 2em 16px;
}
@media (-webkit-min-device-pixel-ratio: 2){
	.separator4{
	border-bottom: none;
	background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
		background-position: bottom;
	}
}
@media (-webkit-max-device-pixel-ratio: 1.99){
	.separator4{
		border-bottom: 1px solid #e1e1e1;
	}
}

.line{
	content: "";
	height: 1px;
	display: inline-block;
	width: 100%;
	z-index: -1;
}
@media (-webkit-min-device-pixel-ratio: 2){
	.line{
		border-bottom: none;
		background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%);
		background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%);
		background-size: 100% 1px;
		background-repeat: no-repeat;
		background-position: bottom;
	}
}
@media (-webkit-max-device-pixel-ratio: 1.99){
	.line{
		border-bottom: 1px solid #e1e1e1;
	}
}

.custom-border{
	height: 1px;
	overflow: hidden;
	width: 100%;
}
@media (-webkit-min-device-pixel-ratio: 2){
	.custom-border{
	border-bottom: none;
	background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
		background-position: bottom;
	}
}
@media (-webkit-max-device-pixel-ratio: 1.99){
	.custom-border{
		border-bottom: 1px solid #e1e1e1;
	}
}

.relative{
	position: relative;
}

.gap{
	height: 16px;
	display: block;
	width: 100%;
}
.part{
	position: relative;
}
.part:not(:first-of-type){
	padding-top: 1.25em;
}
@media (-webkit-min-device-pixel-ratio: 2){
	.part:not(:first-of-type):before{
	border-top: none;
	background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
		background-position: top;
	}
}
@media (-webkit-max-device-pixel-ratio: 1.99){
	.part:not(:first-of-type):before{
		/* border-top: 1px solid #e1e1e1;
		*/}
}

.part h2{
	font-size: 1em;
}	

.part h2.title{
	overflow: hidden;	
	text-align: left;
	color: #333;
	padding-top: 18px;
	border-top: 1px solid #e5e5e5;
	padding-bottom: 15px;
}

.part .photo[src=''], .part .photo:not([src]){
	text-align: center;
	background: url(../images/img-placeholder.png) no-repeat center center #e9e9e9;
	background-size: 30%;
}
	
.part .photo-desc{		
	color: #999;
	font-size: 0.75em;	
	margin: 0.25em 0em 0.25em;
	text-align: left;
}
.part .photo-desc.center{
	text-align: center;
}

.part .photo.error{
	text-align: center;
	background: url(../images/img-placeholder-error.png) no-repeat center center #e9e9e9;
	background-size: 30%;
}
.photo-mod{
	margin-bottom: 20px;
}
.circle-button{
	border-radius: 50%;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #ddd;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #a1a1a1;
	font-size: 12px;
}

.drip{
	display: inline-block;
	
	background-size: 36px 44px;
	width: 36px;
	height: 44px;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	color: white;
}

/* 页面元素 */
.wrapper{
	padding-top: 1px;
	margin-top: -1px;
	margin-bottom: 60px;
	padding-left:16px;
	padding-right:16px;
	
}
.forbid{
	
	-webkit-pointer-events: none;
	pointer-events: none;
}
.wrapper.joke .article.part p, .wrapper.gif .article.part p{
	color: rgba(0, 0, 0, 0.6);
}
/* 字体大小调整 */
.small .article.part{
	font-size: 14.11765px;
}

.big .article.part{
	font-size: 17.88235px;
}

.extra-big .article.part{
	font-size: 19.76471px;
}






.grayBar{
	height: 43px;
	border-bottom: 1px solid #e1e1e1;
	padding:0 16px;
	margin:0 -16px;
	font-size: 12px;
	color: #666;
	position: relative;
	background-color: #f7f7f7;
}
a.grayBar-rt span,
a.grayBar-rt:hover span,
a.grayBar-rt:active span,
a.grayBar-rt:visited span{
	color: #666;
}
.grayBar-tag{
	display: inline-block;
	border-radius: 12px;
	border: 1px solid #d6d6d6;
	padding: 5px 10px;
	line-height: 1;
	margin-top: 10px;
	margin-right: 5px;
}
.grayBar-rt *{
	vertical-align: middle;
}
.grayBar-rt{
	position: absolute;
	top: 13px;
	right: 16px;
	vertical-align: middle;
}
.banner-arr-rt{
	display: inline-block;
	width: 14px;
	height: 14px;
	border:1px solid #d6d6d6;
	border-radius: 50%;
	vertical-align:middle;
	margin-left: 5px;
	position: relative;
} 
.banner-arr-rt:before{
	content: '';
	display: inline-block;
	height: 3px;
	width: 3px;
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
	-webkit-transform-origin: right bottom;
	-ms-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	top: 2px;
	left: 6px;
}
.banner-arr-rt::after {
	content: '';
	display: inline-block;
	height: 2px;
	width: 4px;
	background: #ccc;
	position: absolute;
	top: 6px;
	left: 4px;
}

.article.part{
	text-align: center;
}
.article.part h1{
	font-size: 1.25em;
	padding: 25px;
	font-weight: bold;
	text-align: center;
	color: #333;
}
.article.part h2{
	font-size: 1.125em;
	text-align: left;
}
.article.part h3{
	font-size: 1em;
	color: #b1b0b0;
	text-align: left;
}
.article.part cite ,i{
	font-style: normal;
}
.article.part .article-info{
	color: #999;
	font-size: 0.75em;
	margin-bottom: 30px;
	text-align: center;
}
.article.part .editor-info{
	color: #999;
	font-size: 0.75em;
	line-height: 2.08333em;
	margin-bottom: 1em;
	text-align: left;
}
.article.part .editor-info time{
	float: right;
}
.article.part .editor-info .editor-avatar{
	float: left;
	height: 2.08333em;
	width: 2.08333em;
	margin-right: 0.75em;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.article.part .editor-info .editor-name{
	float: left;
}
.article.part .editor-info .editor-desc{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	padding-left: 0.83333em;
}
.article.part .editor-info .editor-desc:before{
	content: ",";
	display: block;
	position: absolute;
	left: 0.41667em;
}
.article.part p{
	line-height: 1.6;
	text-align: justify;
	margin: 0 0 15px 0;
	color: rgba(0, 0, 0, 0.87);
}
.article.part p a{
	color: #e35552;
	text-decoration: underline;
}
.article.part strong.editor-custom-title, .article.part strong.editor-custom-title a, .article.part b.editor-custom-title, .article.part b.editor-custom-title a{
	font-size: 1.05882em;
	line-height: 1;
	font-weight: bold;
	display: block;
	margin-top: 0.55556em;
}
.article.part .tags-wrap{
	margin: 1.0625em 0em;
}
.article.part .tags{
	display: block;
	overflow: hidden;
	text-align: left;
	margin: -0.6875em 0em 0em 0em;
}
.article.part .tags li{
	float: left;
	margin: 0.6875em 1em 0em 0em;
}
.article.part .tags li a{
	font-size: 0.9375em;
	display: block;
	height: 1.86667em;
	line-height: 1.86667em;
	border: 1px solid #dbdbdb;
	border-radius: 1em;
	padding: 0em 1.26667em;
	color: rgba(0, 0, 0, 0.87);
	text-decoration: none;
}
.article.part .declare{
	color: rgba(0, 0, 0, 0.26);
	margin: 1.41667em 0em;
	text-align: left;
}
.article.part .declare a{
	color: #e35552;
}
.article.part .view-original-article{
	color: rgba(0, 0, 0, 0.26);
	margin: 1.0625em 0em;
}
.article.part .qkw, .article.part .normal .qkw, .article.part .caption .qkw, .article.part .head .qkw{
	color: inherit !important;
	text-decoration: none;
}
.article.part .caption{
	text-align: center;
	text-indent: 0;
	font-size: 0.75em;
	margin-top: 0.41667em;
}
.article.part .mod{
	margin: 0 0 25px 0;
	overflow: hidden;
	position: relative;
}
.article.part .mod .mod-flag{
	position: absolute;
	display: block;
	width: 80px;
	-webkit-transform: rotate(45deg);
	right: -20px;
	top: 10px;
	background: #b0b0b0;
	font-size: 14px;
	color: #fff;
}
.article.part .mod h1{
	font-size: 0.875em;
	font-weight: normal;
	margin: 0;
	color: #ff5a00;
}
.article.part .mod .bottom-line{
	display: none;
	height: 1px;
	margin-top: 3px;
}
@media (-webkit-min-device-pixel-ratio: 2){
	.article.part .mod .bottom-line{
	border-bottom: none;
	background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #f8bfad 50%);
	background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #f8bfad 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
		background-position: bottom;
	}
}
@media (-webkit-max-device-pixel-ratio: 1.99){
	.article.part .mod .bottom-line{
		border-bottom: 1px solid #f8bfad;
	}
}
.article.part .mod li{
	text-align: left;
}
.article.part .mod a{
	color: #e35552;
	font-size: inherit;
}
.article.part .mod .cont{
	overflow: hidden;
}
.article.part .mod .scroller{
	font-size: 16px;
	white-space: nowrap;
}
.article.part .mod .scroller a{
	display: inline-block;
}
.article.part .mod p:first-child{
	margin-top: 0;
}
.article.part .mod p:last-child{
	margin-bottom: 0;
}

.article.part .block.mod{
	background: none;
	padding: 0;
}


.article.part .editor-comment{
	text-align: left;
	background-color: #f3f3f3;
	border-radius: 5px;
	border-top-left-radius: 0;
	padding: 9px 30px 9px 30px;
	margin-top: 12px;
	margin-bottom: 11px;
	position: relative;
}
.article.part .editor-comment:before{
	content: "";
	display: inline-block;
	position: absolute;
	left: 30px;
	top: -10px;
	background: url(../images/bubble-left-top-arrow.png) no-repeat 0 1px;
	width: 14px;
	height: 10px;
}
.article.part .editor-comment h1{
	color: #a1a1a1;
	font-size: 11px;
	margin: 0;
	font-weight: normal;
}
.article.part .editor-comment cite{
	color: #3c3c3c;
	font-size: 14px;
}

.part .grid{
	text-align: center;
	margin: 0 auto;
}
.part .grid img{
	vertical-align: middle;
}
.share-buttons-wrap.part{
	text-align: center;
}
.share-buttons-wrap.part .share-buttons ul{
	margin-top: 30px;
}
.share-buttons-wrap.part .share-buttons ul li{
	display: inline-block;
	margin: 0 12px;
}
.share-buttons-wrap.part .share-buttons ul li a{
	display: block;
	width: 43px;
	height: 43px;
	position: relative;
	margin-bottom: 6px;
}
.share-buttons-wrap.part .share-buttons ul li img{
	display: block;
	width: 100%;
	height: 100%;
}
.share-buttons-wrap.part .share-buttons ul li a:after{
	content: '';
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	border-radius: 21.5px;
}
.share-buttons-wrap.part .share-buttons ul li a:active:after{
	opacity: .2;
}
.share-buttons-wrap.part .share-buttons ul li span{
	display: block;
	font-size: 12px;
	color: #999;
}


.comments.part.has-more{
	margin-bottom: 0;
}
.comments.part .comment-list li:after{
	content: " ";
	display: table;
	clear: both;
}
.comments.part .comment-list li .avatar{
	float: left;
	border-radius: 50%;
	width: 1.25em;
	height: 1.25em;
	line-height: 1.25em;
}
.comments.part .comment-list li .info-text{
	font-size: 0.875em;
	color: rgba(0, 0, 0, 0.87);
	margin-left: 2.28571em;
}
.comments.part .comment-list li .text{
	padding: 1.14286em;
	margin: 0.71429em 0em 0em 0em;
	background: #fafafa;
}
.comments.part .comment-list li .time{
	font-size: 0.75em;
	color: #999;
	margin-top: 0.75em;
}
.comments.part .comment-list li .info:after{
	content: " ";
	display: table;
	clear: both;
}
.comments.part .comment-list li .info .liked, .comments.part .comment-list li .info .thumbup, .comments.part .comment-list li .info .thumbup-active{
	font-size: 0.75em;
	color: #999;
	float: right;
}
.comments.part .comment-list li .info .thumbup, .comments.part .comment-list li .info .thumbup-active{
	padding: 0em 0.66667em 0em 0em;
}
.comments.part .comment-list li .info .thumbup img, .comments.part .comment-list li .info .thumbup-active img{
	width: 1em;
	height: 1em;
	position: relative;
	top: 1px;
}
.comments.part .comment-list li:not(:last-child){
	margin-bottom: 1em;
}
.comments.part .more-comments{
	display: block;
	font-size: 0.875em;
	color: #5888b9;
	margin-top: 1.14286em;
	padding: 1.14286em 0em;
	text-align: center;
}
@media (-webkit-min-device-pixel-ratio: 2){
	.comments.part .more-comments{
	border-top: none;
	background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
		background-position: top;
	}
}
@media (-webkit-max-device-pixel-ratio: 1.99){
	.comments.part .more-comments{
		border-top: 1px solid #e1e1e1;
	}
}
.comments.part .no-comments{
	color: #999;
	background: url(../images/icon-no-comments.png) no-repeat center center;
	background-size: 62px 62px;
	height: 135px;
	width: 100%;
	line-height: 260px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	font-size: 12px;
}
.comments.part h2{
	background: #ff1a4c;
	padding:2px 15px;
	margin-left: -16px;
	border-top: none;
	margin-bottom: 15px;
	display: inline-block;
	color: #fff;
}
.comments-compose.part{
	margin-top: 1em;
	padding-top: 0;
	overflow: hidden;
}
.comments-compose.part:before{
	display: none;
}



.top-button.part{
	height: 45px;
	margin-top: 25px;
}

.thumb-beat{
	background-size: 12px 12px !important;
	-webkit-animation: beat 1s ease;
}

.thumb{
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	background: url(../images/icon-thumbup.png);
}

@-webkit-keyframes beat{
	0%{
	-webkit-transform: scale(1);
}
  10%{
  -webkit-transform: scale(1.5);
 }
  100%{
	  -webkit-transform: scale(1);
	 }
}
@-webkit-keyframes beat-rotate{
	0%{
	-webkit-transform: scale(1);
}
  10%{
  -webkit-transform: scale(1.3) rotate(15deg);
 }
  100%{
	  -webkit-transform: scale(1);
	 }
}
@-webkit-keyframes music-play{
	0%{
	background-position: 0 0;
}
  25%{
  background-position: -24px 0;
 }
  50%{
  background-position: -48px 0;
 }
  75%{
  background-position: -72px 0;
 }
  100%{
	  background-position: -96px 0;
	 }
}
@-webkit-keyframes loading{
	0%{
	-webkit-transform: rotate(0deg) translateZ(0);
	transform: rotate(0deg) translateZ(0);
}
  100%{
  -webkit-transform: rotate(360deg) translateZ(0);
	  transform: rotate(360deg) translateZ(0);
	 }
}
@keyframes loading{
	0%{
	-webkit-transform: rotate(0deg) translateZ(0);
	transform: rotate(0deg) translateZ(0);
}
  100%{
  -webkit-transform: rotate(360deg) translateZ(0);
	  transform: rotate(360deg) translateZ(0);
	 }
}
.open-in-browser-tip{
	display: none;
	color: #3c3c3c;
	font-family: 'STHeiti','Microsoft Yahei', sans-serif;
	font-size: 14px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	border: 10px solid #f5f5f5;
	background: #F5F5F5;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
	height: 35px;
	z-index: 12;
}

.open-in-browser-tip a{
	width: 18px;
	height: 18px;
	background-size: 18px 18px;
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
}

.open-in-browser-tip a img{
	width: 18px;
	height: 18px;
}

.open-in-browser-tip p{
	margin: 0;
	
	background-size: 28px 29px;
	margin-right: 18px;
	color: #39c743;
	line-height: 35px;
	margin-left: -10px;
}

#mask{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	opacity: .3;
	display: none;
	z-index: 11;
}

.download-button.part a{
	background: #39C743;
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	width: 100%;
	display: inline-block;
	line-height: 3em;
	border-radius: 3px;
	margin-top: 85px;
}
/* 文章推荐 */

.recommend-articles.part{
}
.recommend-articles.part .more{
	font-size: 14px;
	color: #484747;
	text-align: center;
	display: block;
	text-decoration: none;
	margin: 3em auto;
	position: relative;
}
.recommend-articles.part .more:before{
	content: "";
	display: block;
	height: 1px;
	border-bottom: 1px solid #e6e6e6;
	-webkit-transform: translate3d(0, 6px, 0) scaleY(0.5);
}
.recommend-articles.part .more:after{
	content: "";
	display: block;
	height: 1em;
	background: #fff;
	-webkit-transform: translate3d(0, 0px, 0);
	margin: 0 auto;
	width: 13em;
}
.recommend-articles.part .more span{
	z-index: 1;
	position: absolute;
	left: 50%;
	top: -14px;
	width: 180px;
	margin-left: -90px;
	line-height: 26px;
}
.recommend-articles.part .more img{
	width: 26px;
	height: 26px;
	position: relative;
	bottom: -8px;
	left: -4px;
	margin: 0 6px;
}
.recommend-articles.part ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: top;
	-webkit-align-items: top;
	align-items: top;
}
.recommend-articles.part li{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	width: 1px;
	margin-bottom: 6px;
	position: relative;
	padding-bottom: 28px;
}
.recommend-articles.part ul li:first-child{
	margin-right: 15px
}
.recommend-articles.part li .time-tips{
	font-size: 12px;
	color: #9c9c9c;
	padding:6px 7px;
	position: absolute;
	left: 0;
	bottom: 0
}
.recommend-articles.part li a{
	text-decoration: none;
	color: #333;
	display: block;
}
.recommend-articles.part li b{
	font-weight: normal;
}
.recommend-articles.part li b:before{
	content: "";
	
	background-size: 9px 9px;
	width: 9px;
	height: 9px;
	margin: auto 10px;
	display: inline-block;
}
.recommend-articles.part li i{
	font-style: normal;
}
.recommend-articles.part li s{
	text-decoration: none;
}
.recommend-articles.part li p{
	font-size: 14px;
	text-indent: 0;
}
.recommend-articles.part .articles-list .column-name{
	color: #41c249;
	font-size: 11px;
}
.recommend-articles.part .articles-list .title{
	font-size: 15px;
}

.hot-articles.part .articles-list li{
	height: 82px;
	background:#fafafa;
	padding:10px;
	margin-bottom: 10px;
}
.hot-articles.part .articles-list .txts{
	 margin-top: -3px;
	 padding-right: 10px;
}
.hot-articles.part .articles-list p{
	line-height: 1.2;
	padding:0;
	margin:0;
	font-size: 12px;
	color:#999;
	margin-top: 5px;
}
.hot-articles.part .articles-list .title-link{
	color: #333
}

.row2{
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	white-space: normal;
	-webkit-line-clamp: 2;
	line-clamp: 2;
}
.row3{
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	white-space: normal;
	-webkit-line-clamp: 3;
	line-clamp: 3;
}


.article.part .gallery.mod h3{
	font-size: 0.75em;
	margin: 0;
	color: #999;
	overflow: hidden;
	text-align: center;
}
.article.part .gallery.mod .pages{
	position: absolute;
	display: block;
	right: 15px;
	bottom: 15px;
	text-align: right;
	color: #fff;
}
.article.part .gallery.mod .galleryflag{
	position: absolute;
	display: block;
	width: 36px;
	height: 36px;
	top: 50%;
	left: 50%;
	margin-top: -18px;
	margin-left: -18px;
	background:url(../images/gallery-icon.png) no-repeat center center;
	background-size: 36px auto
}
.article.part .gallery.mod .gallery-more{
	position: absolute;
	font-size: 12px;
	text-align: center;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.article.part .gallery.mod .gallery-wrap{
	padding: 0.9375em 0em;
}
@media (-webkit-min-device-pixel-ratio: 2){
	/* .article.part .gallery.mod .gallery-wrap:not(:last-child){
	border-bottom: none;
	background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
		background-position: bottom;
	} */
}
@media (-webkit-max-device-pixel-ratio: 1.99){
	/* .article.part .gallery.mod .gallery-wrap:not(:last-child){
		border-bottom: 1px solid #e1e1e1;
	} */
}
.article.part .gallery.mod .gallery-wrap:first-child{
	padding-top: 0;
}
.article.part .gallery.mod .gallery-wrap:last-child{
	padding-bottom: 0;
}
.article.part .wiki.mod{
	padding-top: 10px;
	padding-bottom: 6px;
}
@media (-webkit-min-device-pixel-ratio: 2){
	.article.part .wiki.mod li:not(:first-child){
	border-top: none;
	background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
		background-position: top;
	}
}
@media (-webkit-max-device-pixel-ratio: 1.99){
	.article.part .wiki.mod li:not(:first-child){
		border-top: 1px solid #e1e1e1;
	}
}
.article.part .wiki.mod li a{
	border-width: 0;
}
.article.part .wiki.mod li a h4{
	margin: 0em 0em 0.41176em 0em;
}
.article.part .wiki.mod a, .article.part .further-reading a{
	overflow: hidden;
	display: block;
	font-size: 0.9375em;
	padding: 0.66667em 0em;
	text-align: justify;
	color: #999;
}
.article.part .wiki.mod a h4, .article.part .further-reading a h4{
	color: rgba(0, 0, 0, 0.87);
	font-size: 1.13333em;
	margin: 0.23529em 0em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.article.part .weibo.mod{
	padding-top: 1em;
	padding-bottom: 0.875em;
}
.article.part .weibo.mod .weibo-info{
	text-align: left;
	overflow: hidden;
	margin: 0em 0em 0.75em 0em;
}
.article.part .weibo.mod .weibo-info .avatar{
	float: left;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-right: 0.75em;
}
.article.part .weibo.mod .weibo-info .date{
	color: #999;
	font-size: 12px;
}
.article.part .weibo.mod .weibo-info .username{
	font-size: 1.0625em;
	color: rgba(0, 0, 0, 0.87);
	position: relative;
	top: -4px;
}
.article.part .weibo.mod .weibo-info a:after{
	content: "";
	width: 12px;
	height: 12px;
	background-size: 12px 12px;
	display: inline-block;
	margin-left: 4px;
}
.article.part .weibo.mod cite{
	text-align: left;
	font-size: 0.9375em;
	color: rgba(0, 0, 0, 0.87);
	display: block;
	margin: 0em 0em 0.8em 0em;
}
.article.part .weibo.mod .weibo-item{
	padding: 0.9375em 0em;
}
@media (-webkit-min-device-pixel-ratio: 2){
	.article.part .weibo.mod .weibo-item:not(:last-child){
	border-bottom: none;
	background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
		background-position: bottom;
	}
}
@media (-webkit-max-device-pixel-ratio: 1.99){
	.article.part .weibo.mod .weibo-item:not(:last-child){
		border-bottom: 1px solid #e1e1e1;
	}
}
.article.part .weibo.mod .weibo-item:first-of-type{
	padding-top: 0;
}
.article.part .weibo.mod .weibo-item:last-of-type{
	padding-bottom: 0;
}
.article.part .weibo.mod .stat{
	font-size: 0.75em;
	color: #999;
	text-align: left;
}
.article.part .weibo.mod .stat span{
	padding: 0 5px;
}
.article.part .weibo.mod .stat span:first-child{
	border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.article.part .video.mod h4{
	font-size: 0.75em;
	color: #999;
	text-align: center;
	margin-top: 0.5em;
}
.article.part .video .photo a{
	display: block;
	position: relative;
}
.article.part .video.mod .photo{
	margin-top: 10px;
	background: black;
}
.article.part .video.mod .photo:first-child{
	margin-top: 0;
}
.article.part .video.mod .play{
	left: 50%;
	top: 50%;
	position: absolute;
	width: 45px;
	height: 45px;
	-webkit-transform: translate3d(-50%, -50%, 0);
	z-index: 1;
	background: url(../images/icon-video-play.png) no-repeat;
	background-size: cover;
}
.article.part .video.mod .snapshot{
	display: block;
	opacity: 0.7;
}
.article.part .video.mod a:active .snapshot{
	opacity: 1;
}


