@charset "UTF-8";

html, body{
	margin: 0;
	padding: 0;
	border: 0;
	min-height: 100%;
}
body, button{
	font-family:'STHeiti','Microsoft Yahei', sans-serif;
}
html{
	font-size: 100px;
}
body{
	line-height: 1.5;
	font-size: 16px;
	background: #fff;
	padding: 0;
	position: relative;
	color: #000;
	word-wrap: break-word;
	font-size-adjust: none;
	-webkit-text-size-adjust: none;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

p img{
	float: left;
	padding: 0;
}

img{
	border: 0;
	max-width: 100%;
}

table{
	width: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

p{
	font-size: 1em;
	line-height: 1.6;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 768px) and (max-width: 1000px){
	html{
		font-size: 120px;
	}
}
@media screen and (min-width: 1001px) and (max-width: 1200px){
	html{
		font-size: 140px;
	}
}
@media screen and (min-width: 1201px){
	html{
		font-size: 160px;
	}
}
/* 通用 */
hr{
	display: none;
}
section:last-child{
	border-bottom: none;
}
.clearfix:after{
	content: "\200B";
	display: block;
	height: 0;
	clear: both;
}

.block{
	display: block;
}	
/* 通栏按钮 */

.flex{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.flex-item{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	width: 1px;
	display: block;
}
.relative{
	position: relative;
}

.gap{
	height: 16px;
	display: block;
	width: 100%;
}
.part{
	position: relative;
}
.part:not(:first-of-type){
	padding-top: 1.25em;
}
@media (-webkit-min-device-pixel-ratio: 2){
	.part:not(:first-of-type):before{
	border-top: none;
	background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
		background-position: top;
	}
}
@media (-webkit-max-device-pixel-ratio: 1.99){
	.part:not(:first-of-type):before{
		/* border-top: 1px solid #e1e1e1;
		*/}
}

.part h2{
	font-size: 0.9375em;
}

.part h2.title{
	text-align: left;
	color: #333;
	margin-top: 0;
	position: relative;
}
.part h2.title:before{
	content: "";
	position: absolute;
	top: 2px;
	left: -16px;
	height: 16px;
	width: 3px;
	overflow: hidden;
	background: #333
}

.part .photo[src=''], .part .photo:not([src]){
	text-align: center;
	background: url(../img/img-placeholder.png) no-repeat center center #e9e9e9;
	background-size: 30%;
}

.circle-button{
	border-radius: 50%;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #ddd;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #a1a1a1;
	font-size: 12px;
}
/* 页面元素 */
.wrapper{
	padding-top: 1px;
	margin-top: -1px;
	margin-bottom: 60px;
	padding-left:16px;
	padding-right:16px;
}
.article.part{
	text-align: center;
}
.article.part h1{
	font-size: 1.25em;
	margin: 5px 0 5px 0;
	font-weight: bold;
	text-align: left;
	color: rgba(0, 0, 0, 0.87);
}

.comments.part.has-more{
	margin-bottom: 0;
}
.comments.part .comment-list li:after{
	content: " ";
	display: table;
	clear: both;
}
.comments.part .comment-list li .avatar{
	float: left;
	border-radius: 50%;
	width: 1.25em;
	height: 1.25em;
	line-height: 1.25em;
	background: url(../images/icon-default-avatar.png) no-repeat;
	display: inline-block;
	background-size: contain
}
.comments.part .comment-list li .info-text{
	font-size: 0.875em;
	color: #333;
	margin-left: 2.28571em;
}
.comments.part .comment-list li .text{
	padding: 1.14286em;
	margin: 0.71429em 0em 0em 0em;
	background: #fafafa;
}
.comments.part .comment-list li .time{
	font-size: 0.75em;
	color: #999;
	margin-top: 0.75em;
}
.comments.part .comment-list li .info:after{
	content: " ";
	display: table;
	clear: both;
}
.comments.part .comment-list li .info .liked, .comments.part .comment-list li .info .thumbup, .comments.part .comment-list li .info .thumbup-active{
	font-size: 0.75em;
	color: #999;
	float: right;
}
.comments.part .comment-list li .info .thumbup, .comments.part .comment-list li .info .thumbup-active{
	padding: 0em 0em 0em 0.5em;
}
.comments.part .comment-list li .info .thumbup i, .comments.part .comment-list li .info .thumbup-active i{
	width: 1em;
	height: 1em;
	position: relative;
	top: 1px;
	background: url(../images/icon-thumbup.png) no-repeat;
	background-size: contain;
	display: inline-block;
}
.comments.part .comment-list li .info .thumbup-active i{
	background-image: url(../images/icon-thumbup-active.png);
}
.comments.part .comment-list li:not(:last-child){
	margin-bottom: 1em;
}
.comments.part .more-comments{
	display: block;
	font-size: 0.875em;
	color: #5888b9;
	margin-top: 1.14286em;
	padding: 1.14286em 0em;
	text-align: center;
}
@media (-webkit-min-device-pixel-ratio: 2){
	.comments.part .more-comments,.part h2.title{
		border-top: none;
		background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%);
		background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%);
		background-size: 100% 1px;
		background-repeat: no-repeat;
		background-position: top;
	}
	.grayBar{
		border-bottom: none;
		background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%);
		background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%);
		background-size: 100% 1px;
		background-repeat: no-repeat;
		background-position: top;
		background-position: 0 bottom;
	}
	
}
@media (-webkit-max-device-pixel-ratio: 1.99){
	.comments.part .more-comments{
		border-top: 1px solid #e1e1e1;
	}
}
.comments.part .no-comments{
	color: #999;
	background: url(../images/icon-no-comments.png) no-repeat center center;
	background-size: 62px 62px;
	height: 135px;
	width: 100%;
	line-height: 260px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	font-size: 12px;
}
.comments.part h2{
	background: #ff1a4c;
	padding:2px 15px;
	margin-left: -16px;
	border-top: none;
	margin-bottom: 15px;
	display: inline-block;
	color: #fff;
}
.comments-compose.part{
	margin-top: 1em;
	padding-top: 0;
	overflow: hidden;
}
.comments-compose.part:before{
	display: none;
}


.top-button.part{
	height: 45px;
	margin-top: 25px;
}

.thumb-beat{
	background-size: 12px 12px !important;
	-webkit-animation: beat 1s ease;
}

.thumb{
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	background: url(../img/icon-thumbup.png);
}

@-webkit-keyframes beat{
	0%{
	-webkit-transform: scale(1);
}
  10%{
  -webkit-transform: scale(1.5);
 }
  100%{
	  -webkit-transform: scale(1);
	 }
}
@-webkit-keyframes beat-rotate{
	0%{
	-webkit-transform: scale(1);
}
  10%{
  -webkit-transform: scale(1.3) rotate(15deg);
 }
  100%{
	  -webkit-transform: scale(1);
	 }
}
@-webkit-keyframes music-play{
	0%{
	background-position: 0 0;
}
  25%{
  background-position: -24px 0;
 }
  50%{
  background-position: -48px 0;
 }
  75%{
  background-position: -72px 0;
 }
  100%{
	  background-position: -96px 0;
	 }
}
@-webkit-keyframes loading{
	0%{
	-webkit-transform: rotate(0deg) translateZ(0);
	transform: rotate(0deg) translateZ(0);
}
  100%{
  -webkit-transform: rotate(360deg) translateZ(0);
	  transform: rotate(360deg) translateZ(0);
	 }
}
@keyframes loading{
	0%{
	-webkit-transform: rotate(0deg) translateZ(0);
	transform: rotate(0deg) translateZ(0);
}
  100%{
  -webkit-transform: rotate(360deg) translateZ(0);
	  transform: rotate(360deg) translateZ(0);
	 }
}

.hot-articles.part{
	  border-top: 1px solid #e1e1e1;
}
.hot-articles.part .articles-list li{
	height: 82px;
	background:#fafafa;
	margin-bottom: 4px;
}
.hot-articles.part .articles-list .txts{
	  padding: 8px 10px 0 10px;
}
.hot-articles.part .articles-list p{
	line-height: 1.2;
	padding:0;
	margin:0;
	font-size: 12px;
	color:#999;
	margin-top: 5px;
}
.hot-articles.part .articles-list .title-link{
	color: #333
}

.row2{
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	white-space: normal;
	-webkit-line-clamp: 2;
	line-clamp: 2;
}
.row3{
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	white-space: normal;
	-webkit-line-clamp: 3;
	line-clamp: 3;
}

/* video */
.fullColumn{
	margin-left:-16px;
	margin-right:-16px;
}
